* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Anton";
}
body {
  background-color: #000000e0;
}
/* 頁首 */
.login {
  background-color: #000000;
  opacity: 80%;
  text-align: right;
}
.login a + a::before {
  content: "/";
  color: white;
  margin-right: 20px;
}
.login a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.login a:hover {
  color: yellow;
}
.computer_header nav {
  margin: auto;
  text-align: center;
  background-color: white;
  box-shadow: 0 5px 5px rgb(77, 77, 77);
}
.computer_header nav ul li a:hover {
  color: red;
}
.logo img {
  width: 100px;
  vertical-align: bottom;
}
.computer_header nav ul li {
  display: inline-block;
  width: 15%;
  vertical-align: middle;
}
.computer_header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

/* 頁尾 */
footer {
  background-color: rgba(158, 145, 145, 0.349);
}
footer p {
  text-align: center;
  padding-top: 15px;
  font-size: 24px;
  letter-spacing: 2px;
  color: #fff;
}
.contact ul {
  display: flex;
  justify-content: center;
}
.contact ul li {
  margin: 5px 15px;
  list-style-type: none;
}

.contact ul li a {
  color: #fff;
  font-size: 50px;
}

.copy_right p {
  color: rgba(167, 167, 167, 0.8);
  font-size: 16px;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/* 漢堡 */
.main-header {
  background-color: #fff;
  opacity: 90%;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: center;
}
.logo_phone h1 img {
  height: 50px;
  width: 50px;
  vertical-align: bottom;
}

#menu-check {
  display: none;
}
.main-nav a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.hb {
  width: 40px;
  height: 40px;
  background-color: #000;
  position: relative;
}
.hb:before,
.hb:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: #fff;
  right: 0;
  left: 0;
  margin: auto;
  transform: rotate(0deg);
}
.hb:before {
  top: 5px;
  box-shadow: 0px 13px 0px #fff;
  transition: box-shadow 0.3s 0.6s, top 0.3s 0.3s, transform 0.3s 0s;
}
.hb:after {
  bottom: 5px;
  transition: bottom 0.3s 0.3s, transform 0.3s 0s;
}
#menu-check:checked ~ .main-header .hb:before {
  top: 18px;
  box-shadow: 0px 10px 0px #000000;
  transform: rotate(45deg);
  transition: box-shadow 0.3s 0s, top 0.3s 0.3s, transform 0.3s 0.6s;
}
#menu-check:checked ~ .main-header .hb:after {
  bottom: 18px;
  transform: rotate(-45deg);
  transition: bottom 0.3s 0.3s, transform 0.3s 0.6s;
}
.main-nav {
  position: absolute;
  width: 100%;
  top: 100%;
  left: -100%;
  opacity: 0;
  background-color: #000000f1;
  transition: opacity 1s, left 0s 0.9s;
}
#menu-check:checked ~ .main-header .main-nav {
  left: 0;
  opacity: 1;
  transition: 1s;
}
.main-nav a {
  display: block;
  text-align: center;
  font-size: 24px;
}
.main-nav a + a {
  border-top: 1px solid #fff;
}
/* 內容 */

.about_us {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.about_us div {
  width: 50%;
  padding: 50px;
  box-sizing: border-box;
}
.pic img {
  width: 100%;
}
.pic {
  margin: auto;
}
.txt {
  margin: auto;
}
.txt h2 {
  text-align: center;
  padding-bottom: 10px;
  color: yellow;
  font-size: 48px;
}
.txt p {
  color: rgb(235, 235, 235);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
/* 電腦 */
@media screen and (min-width: 768px) {
  .main-header {
    display: none;
  }
}
/* 手機 */
@media screen and (max-width: 767px) {
  .about_us div {
    width: 100%;
    padding: 20px;
  }
  .computer_header {
    display: none;
  }
}
