* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Anton";
}
body {
  background-color: #000000e0;
}
/* 頁首 */
.login {
  background-color: #000000;
  opacity: 80%;
  text-align: right;
}
.login a + a::before {
  content: "/";
  color: white;
  margin-right: 20px;
}
.login a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.login a:hover {
  color: yellow;
}
.computer_header nav {
  margin: auto;
  text-align: center;
  background-color: white;
  box-shadow: 0 5px 5px rgb(77, 77, 77);
}
.computer_header nav ul li a:hover {
  color: red;
}
.logo img {
  width: 100px;
  vertical-align: bottom;
}
.computer_header nav ul li {
  display: inline-block;
  width: 15%;
  vertical-align: middle;
}
.computer_header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

/* 頁尾 */
footer {
  background-color: rgba(158, 145, 145, 0.349);
}
footer p {
  text-align: center;
  padding-top: 15px;
  font-size: 24px;
  letter-spacing: 2px;
  color: #fff;
}
.contact ul {
  display: flex;
  justify-content: center;
}
.contact ul li {
  margin: 5px 15px;
  list-style-type: none;
}

.contact ul li a {
  color: #fff;
  font-size: 50px;
}

.copy_right p {
  color: rgba(167, 167, 167, 0.8);
  font-size: 16px;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* 漢堡 */
.main-header {
  background-color: #fff;
  opacity: 90%;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: center;
}
.logo_phone h1 img {
  height: 50px;
  width: 50px;
  vertical-align: bottom;
}

#menu-check {
  display: none;
}
.main-nav a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.hb {
  width: 40px;
  height: 40px;
  background-color: #000;
  position: relative;
}
.hb:before,
.hb:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: #fff;
  right: 0;
  left: 0;
  margin: auto;
  transform: rotate(0deg);
}
.hb:before {
  top: 5px;
  box-shadow: 0px 13px 0px #fff;
  transition: box-shadow 0.3s 0.6s, top 0.3s 0.3s, transform 0.3s 0s;
}
.hb:after {
  bottom: 5px;
  transition: bottom 0.3s 0.3s, transform 0.3s 0s;
}
#menu-check:checked ~ .main-header .hb:before {
  top: 18px;
  box-shadow: 0px 10px 0px #000000;
  transform: rotate(45deg);
  transition: box-shadow 0.3s 0s, top 0.3s 0.3s, transform 0.3s 0.6s;
}
#menu-check:checked ~ .main-header .hb:after {
  bottom: 18px;
  transform: rotate(-45deg);
  transition: bottom 0.3s 0.3s, transform 0.3s 0.6s;
}
.main-nav {
  position: absolute;
  width: 100%;
  top: 100%;
  left: -100%;
  opacity: 0;
  background-color: #000000f1;
  transition: opacity 1s, left 0s 0.9s;
}
#menu-check:checked ~ .main-header .main-nav {
  left: 0;
  opacity: 1;
  transition: 1s;
}
.main-nav a {
  display: block;
  text-align: center;
  font-size: 24px;
}
.main-nav a + a {
  border-top: 1px solid #fff;
}
/* 頂部封面 */
.concert_cover {
  /* height: 500px; */
  overflow: hidden;
  box-shadow: 0px 5px 5px rgb(43, 43, 43);
  margin-bottom: 10px;
}
.concert_cover img {
  width: 100%;
  vertical-align: bottom;
}

/* 活動頁面 */

.item {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
}
.item .pic img {
  width: 100%;
  vertical-align: top;
}
.item h3 {
  font-size: 32px;
  display: inline-block;
  border-bottom: 4px solid #fa0;
  margin-bottom: 10px;
  color: white;
  color: rgb(255, 290, 0);
  letter-spacing: 2px;
}
.item p {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(153, 153, 153);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .wrap {
    width: 960px;
    margin: auto;
  }
  .item {
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    position: relative;
  }
  .item:before {
    content: "";
    position: absolute;
    width: 5px;
    /* background-color: #fa9800; */
    background-color: rgba(240, 0, 0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .item:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(240, 0, 0);
    /* background-color: #fa9800; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
  }
  .item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .item .pic {
    width: 50%;
    box-sizing: border-box;
    padding: 40px 0;
  }
  .item:nth-child(odd) .pic {
    padding-right: 20px;
  }
  .item:nth-child(even) .pic {
    padding-left: 20px;
  }

  .item .txt {
    width: 50%;
    box-sizing: border-box;
    padding: 40px 0;
  }
  .item:nth-child(odd) .txt {
    padding-left: 20px;
  }
  .item:nth-child(even) .txt {
    padding-right: 20px;
  }
  .concert_cover {
    height: 500px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .main-header {
    display: none;
  }
}
/* 手機 */
@media screen and (max-width: 767px) {
  .computer_header {
    display: none;
  }
}
